<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Sinema_Otomasyonu.Properties.Settings.Sinema_OtomasyonuConnectionString"
            connectionString="Data Source=.\sqlexpress;Initial Catalog=&quot;Sinema Otomasyonu&quot;;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>